<%- include('header.ejs') %> 

<body>
        

    <div class="wrapper">
      
        <div class="background">
            
            <div id="navbar">            
                <a id="home" class="active" href="#"><strong><i id="navBtn" class="fa fa-home" style="font-size:4.5vh"></i></strong></a>
                <a href="/about"><strong>About Us</strong></a>
                <!--<div class="dropdown">
                <button data-toggle="collapse" data-target="#demo"><strong>Dropdown</strong></button>
                    <div id="demo" class="collapse">
                        <a href="#">Link </a><br>
                        <a href="#">Link 2</a><br>
                        <a href="#">Link 3</a>
                    </div>
                </div>-->
                <a href="/facilities"><strong>Facilities</strong></a>
                <a href="/gallery"><strong>Gallery</strong></a>
                <a  href="/admission"><strong>Admission</strong></a>                  
                <a href="/syllabus"><strong>Syllabus</strong></a>
                <a href="https://www.google.com/maps/dir//Avadànn+IAS+Academy+%28premier+institute+for+civil+services+%29/data=!4m8!4m7!1m0!1m5!1m1!1s0x390929c9981d9f47:0x586eea411e071fb2!2m2!1d78.0524829!2d30.327303899999997" target="_blank"><strong>Direction</strong></a>
                <a href="https://www.facebook.com/Avadannias/?ref=br_rs" target="_blank"><i class="fa fa-facebook-square" style="font-size:24px;"></i></a>
                
            </div>
            
            <div id="navbarSelect">
                <button data-toggle="collapse" data-target="#down"><i class="fa fa-bars bar"></i></button>
                <div id="down" class="collapse">
                    <a class="active" href="#"><strong>Home</strong></a><br>
                    <a href="/about"><strong>About Us</strong></a><br>
                    <a href="/facilities"><strong>Facilities</strong></a>
                    <a href="/gallery"><br><strong>Gallery</strong></a><br>
                    <a  href="/admission"><strong>Admission</strong></a><br>                  
                    <a href="/syllabus"><strong>Syllabus</strong></a><br>
                    <a id="direction" href="https://www.google.com/maps/dir//Avadànn+IAS+Academy+%28premier+institute+for+civil+services+%29/data=!4m8!4m7!1m0!1m5!1m1!1s0x390929c9981d9f47:0x586eea411e071fb2!2m2!1d78.0524829!2d30.327303899999997" target="_blank"><strong>Direction</strong></a>
                    
                </div> 
            </div>
            
            <div class="container name text-center">
                <strong><y>Avadànn</y></strong><br>
                <div style= "margin-top:-4vh;margin-left: 12vw;">
                    <y2 style= "font-size: 2.1vh">Road to Success</y2>
                </div>
                <strong><y1>(Premier IAS/PCS Institute)</y1></strong><br><br>
                <strong><y1>104,EC Road.(Top Floor) Dehradun (U.K.)248001</y1></strong><br>
                <strong><y1>Mob.: +91-9456360555</y1></strong>
            </div>
            
                     
            <!--<div class="text-center">
                <input class="search" type="text" placeholder="                                Search..">
                <i class="fa fa-search"></i>
            </div>-->
            
        </div>
        
        <div class="jumbotron text-center">
            <h3 style="color: #5ae503"><strong>WELCOME TO AVADANN IAS</strong></h3>
            <p>
                Your search for best civil services institute in Dehradun ends with Avadann IAS Academy . We at Avadann IAS focus on comprehensive preparation strategy under the guidance of best faculties , for UPSC and state services (Uttarakhand and UP PCS) in both the mediums with separate classes. Special focus on regular updation and NCERT material along with weekly newspaper analysis.
            </p>
        </div>
        
        <button id="myBtn"><strong>Registration</strong></button>
        
        <div id="myModal" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <div class="container text-center">
                        <h2><strong>Registeration</strong></h2>
                    </div>
                    <span class="close">&times;</span>
                    
                </div>
            
                <div class="modal-body">
                    <div class="container" style="padding-top: 4vh;text-align:center">
                        <form id="form">
                            <label for="name" style="margin-right:4vw">Name</label>
                            <input type="text" placeholder="Name" id="name" name="name"><br>
                             <label for="email" style="margin-right:4vw">Email</label>
                            <input type="email" placeholder="Email" id="email" name="email"><br>
                             <label for="phone" style="margin-right:1vw">Contact No.</label>
                            <input type="number" placeholder="Contact No." id="phone" name="phone"><br>
                            <input id="submit" type="submit">
                        </form>
                    </div>
         
                </div>
                
                <div class="modal-footer">
                    <h3><strong>@Avadann IAS Academy</strong></h3>
                </div>
            </div>
            
        </div>
        <br><br>
        
        <div class="container">
            <div class="row">
                <div class="col-3 text-left" style="margin-top:3vh">
                    <img id="move" src="./images/ukpsc.jpg" >
                </div>
                <div class="col-6 text-left">
                    <marquee behavior="alternate" direction="left" scrollamount="2.5">
                        <img id="move" src="./images/upsc.jpg" >
                    </marquee>
                </div>
                <div class="col-3 text-right" style="margin-top:3vh">
                    <img id="move" src="./images/uppsc.jpg" >
                </div>
            </div>
        </div>
  
        <br><br>
        <!-- TodO here to do update -->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                        <h3 class="text-center"  style="background-color: #5ae503"><strong>Updates</strong></h3>
                        <marquee b direction="up" scrollamount="1" id="up" class="text-center">
                        <div id="update">
                            <% for(let i=0;i<updates.length;i++) { %>
                                <h5 id="posted">Posted on <%- updates[i].date.toDateString() %> </h5>
                                <% if (updates[i].link == "No_Link") { %> 
                                    <h5><%- updates[i].text %> </h5>
                                    <% } else { %> 
                                <h5><a href=<%- updates[i].link  %>  ><%- updates[i].text %> </a></h5>
                                <% } %> 
                            <% } %> 
                            
                           <!-- <a href="https://www.civilserviceindia.com/UPSC-Notification-2018.pdf" target="_blank" style="color:black" ><h5> UPSC Mains</h5></a>
                            <h5>UKPSC Pre Syllabus</h5>
                            <h5>UKPSC Mains Syllabus</h5>
                            <h5>UPPSC Pre Syllabus</h5>
                            <h5>UPPSC Mains Syllabus</h5>-->
                        </div>
                            
                        </marquee>
                </div>
                
                <div class="col-sm-8">
                    <h3 class="text-center" style="background-color: #5ae503"><strong>TARGET UPPCS-2019</strong></h3>
                    <br><br>
                    
                    <ul>  
                        <li>
                            <h5>Only institute of Uttarakhand to run dedicated batches UP-PCS in Hindi and English medium</h5>
                        </li>
                            
                        <li>
                            <h5>Why UP-PCS?</h5>
                        </li>
                        <h5 class="gap"> Regular, 2018 Mains in June & 2019 Pre in Oct</h5>
                        <h5 class="gap">More than 1000 seats 100+ seats only SDM.</h5>
                        <h5 class="gap">Only PCS to follow the pattern of UPSC.</h5>
                        <h5 class="gap">Complete 4 months br pre preparation.</h5>
                        <h5 class="gap">Better promotion and job perspective.</h5>
                    </ul>
                    <b style="color: #2a5d0b"><h5>So just hurry up!! Start your preparation as soon as possible.Book your seat now!!</h5></b>
                   
                </div>
            </div>
        </div>
        
        <div class="container" id="scroll" style="margin-bottom:3vh;margin-top: 3vh;">
            <div style="margin-bottom: 6vh">
                <h2 class="text-center" style="background-color: #5ae503">Testimonials</h2>
            </div>
            
            <div class="row" style="overflow-y:scroll;height: 60vh;">
                <div class="col-sm-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                    <q>
                        Best institute for IAS / PCS preparation. Dedicated team of teachers focusing on each and every student. Excellent studying environment and encourage open discussion and idea sharing for better understanding of topics . Regular newspaper analysis. Must join if u want to achieve success in civil service exams.
                    </q>
                    
                    <div class="text-left" style="margin-bottom: 5vh">
                        <h5 style="color:#21075c">-Aaryan Chauhan</h5>
                    </div>  
                </div>
                
                <div class="col-sm-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                    <q>
                        Avadaan is brain child of Ms Nidhi Dhaka who believes in giving her 100% to quality education and growth of knowledge. She strives hard to create a conducive environment for exchange of knowledge and ideas in her classes; and encourages students to follow their dreams passionately. Her vast experience in teaching and subject expertise adds immense value to what she wants to offer at Avadann IAS Academy. Her dedication as a teacher and appreciation from former /current students is what sets this institute apart from others in Uttarakhand.
                    </q><br>
                    
                    <div class="text-left" style="margin-bottom: 5vh">
                        <h5 style="color:#21075c">-Swati Soni</h5>
                    </div>  
                </div>
                
                <div class="col-sm-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                    <q><br>
                        Best institute with well-educated and experienced faculty. One of my much known faculty Mrs. Nidhi Dhaka interact directly with students in class and clear all the doubts. This institute gives you a right direction and strategy to achieve your goal. According to me it is the best institute in Dehradun. If anyone is searching for the right mean to furnish civil services preparation then Avadann IAS Academy is the most appropriate place because here one can get all which is essential for a sound and focused preparation :)
                    </q><br>
                    
                    <div class="text-left" style="margin-bottom: 5vh">
                        <h5 style="color:#21075c">-Gunjan Joshi</h5>
                    </div>  
                </div>
                
                 <div class="col-sm-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                    <q>
                        At Avadann you can rest your trust in the founder Ms.Nidhi Dhaka and focus on your target. She has immense experience of the field and is a great mentor. At Avadann your curiosity would  be served with a platter of more knowledge and motivation in the right direction.
                    </q>
                    
                    <div class="text-left" style="margin-bottom: 5vh">
                        <h5 style="color:#21075c">-Nishi Chaudhary</h5>
                    </div>  
                </div>
                
                <div class="col-sm-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                    <q>
                        Best institute with well-educated and experienced faculty. Mrs. Nidhi Dhaka interact directly with students in class and clear all the doubts. This institute gives you a right direction and strategy to achieve your goal. According to me it is the best institute in Dehradun.
                    </q><br>
                    
                    <div class="text-left" style="margin-bottom: 5vh">
                        <h5 style="color:#21075c">-Kumud Ahlawat</h5>
                    </div>  
                </div>
                
                <div class="col-sm-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                    <q><br>
                        Best IAS PCS Institute for English  and hindi medium students .dedicated team of teachers  focusing on realizing potential of each and every student .comprehensive n detailed  coverage  of syllabus  as per UPSC and  state services.  Best place to  be if u want to achieve your dream of being a civil servant.
                    </q><br>
                    
                    <div class="text-left" style="margin-bottom: 5vh">
                        <h5 style="color:#21075c">-Aryan Kaushik</h5>
                    </div>  
                </div>
            </div>
        </div>
                
        <div class="container">
            <div class="text-center">
                <button>
                    <a id="google-reviews" href="https://www.google.com/search?hl=en-IN&gl=in&q=Avadann+IAS+Academy+(premier+institute+for+civil+services+),+104,+EC+Road,+opp+SGRR,+Dehradun,+Uttarakhand+248001&ludocid=6372288088173387698&lsig=AB86z5UCfrei8WzJLf1ta5hPaYhJ#lrd=0x390929c9981d9f47:0x586eea411e071fb2,1,,," target="_blank"><h5><strong>Write a review</strong></h5></a>
                </button>
            </div>
        </div>
        <br>
    </div>             
</body>

<%- include('footer.ejs') %>